# 依赖
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# 打包产物
dist/
build/
out/

# 环境变量
.env
.env.local
.env.development
.env.production

# 编辑器
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 日志
*.log
*.err
npm-debug.log*

# 临时文件
tmp/
temp/

# Python 缓存
__pycache__/
*.pyc

# 系统文件
Thumbs.db

# claude
.claude
