# 数据库配置
DATABASE_URL=mysql+pymysql://root:password@localhost:3306/ecommerce_db

# JWT 配置
SECRET_KEY=your-256-bit-secret-key-change-this-in-production
ACCESS_TOKEN_EXPIRE_HOURS=24

# 开发调试配置
DEBUG=False

# ─── 管理员注册验证码 SMTP 配置 ─────────────────────────────────────────
SMTP_HOST=smtp.xx.com
SMTP_PORT=465
SMTP_USER=your-email.com
SMTP_PASS=邮箱的授权码
# 邮件发送者
SMTP_FROM=your-email.com
